{% load static %}
<html>
<body>
    <h2>All houses for rent</h2>
    <img src="{% static 'app/images/logo.png' %}" width="10%" alt="Izubzu Logo"/><br/><br/>
    <a href='/'>Go Back</a>
    <a href="sort_htl"><button>Price high to low</button></a> 
    
 

 <select class="area-select" onchange="location.href = this.options[this.selectedIndex].value">
    <option>Choose an area</option>
    <option value="area/{{"Boat Quay"}}">Boat Quay</option>
    <option value="area/{{"Chinatown"}}">Chinatown</option>
    <option value="area/{{"Harbourfront"}}">Harbourfront </option>
    <option value="area/{{"Changi Airportt"}}">Changi Airport</option>
</select>



    <table border=1>
        <thead>
            <th>House Title</th>
            <th>Room Size</th>
            <th>Price</th>
            <th>Actions</th>
        </thead>
        {% for house in records %}
        <tr>
            <td>{{ house.0 }}</td>
            <td>{{ house.2 }}</td>
            <td>{{ house.9 }}</td>
            <td>
                <a href="view/{{house.0}}"><button>View Details</button></a> |
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                </form>

                <a href="rent_1/{{house.0}}"><button>Rent</button></a> |
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
